<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>스프링 templats의 index.html</h1>
  <button onclick="">문화,역사</button>
  <a href="/nearby-places?lat=37.5665&lng=126.9780&type=lodging">
    <button>Fetch Data</button>
  </a>
  <br>
  <a href="/foursquare">
    <button>foursquare</button>
  </a>
  <br>
  <a href="/ChooseTravelSpot">
    <button>ChooseTravelSpot</button>
  </a>
  <br>
  <a href="/TravelSetting">
    <button>TravelSetting</button>
  </a>

</body>
</html>